<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>	
			

			<h1>Tasks</h1>
			<p>Week of: <%= "#{@dates.first} to #{@dates.last}" %><br />
				<%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Previous".html_safe, root_path(offset: @current_offset-1) %> |
				<%= link_to "Next <span class='glyphicon glyphicon-chevron-right'></span>".html_safe, root_path(offset: @current_offset+1) %>
			</p>
			<%= form_for @new_task, html: { class: 'form-inline' } do |f| %>
				<%= f.text_field :name, class: 'form-control', 
																placeholder: 'Enter task name' %>
				<%= f.submit "Create task", class: "btn btn-primary" %>
			<% end %>

			<br />
			
			<% @dates.each do |d| %>
				<% date_tasks = @tasks.select { |task| task.due_date == d } %>
				<div class="panel-group" id="accordionTwo">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" href=<%= "#collapse-#{d}" %>><%= d.strftime("%A") %></a>
							<div class="count-badge pull-right">
								<span class="badge"><%= date_tasks.count %></span>
							</div>
						</div>
						<div class="panel-collapse collapse in" id=<%= "collapse-#{d}" %>>
							<div class="list-group">
								<%= render partial: 'task', collection: date_tasks, as: :task %>
							</div>
						</div>
					</div>
				</div>


			<% end %>


		

    </div>
	</div>
</div>
